<%= form_for(@vertical) do |f| %>
  <% if @vertical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vertical.errors.count, "error") %> prohibited this vertical from being saved:</h2>

      <ul>
      <% @vertical.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
