<h1>Listing verticals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @verticals.each do |vertical| %>
  <tr>
    <td><%= vertical.name %></td>
    <td><%= vertical.company %></td>
    <td><%= link_to 'Show', vertical %></td>
    <td><%= link_to 'Edit', edit_vertical_path(vertical) %></td>
    <td><%= link_to 'Destroy', vertical, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vertical', new_vertical_path %>
