<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vertical.name %>
</p>

<p>
  <b>Company:</b>
  <%= @vertical.company %>
</p>


<%= link_to 'Edit', edit_vertical_path(@vertical) %> |
<%= link_to 'Back', verticals_path %>
